$primary-color: #FFFFFF;
$primary-opaque-color: #FFFFFF70;
$secondary-color: #51614b;
$tertiary-color: #76ee80;
$box-shadow: 0 10px 10px 0 rgba(255, 255, 255, .2);
$modal-shadow: 0 2px 8px rgba(0, 0, 0, .33);
$main-transition: all .4s ease;